@page "/attributes"

@using WordsInTextsSearcher.Data
@using WordsInTextsSearcher.Entities
@using System.Collections;
@using System.Linq;

@inject ProjectsService _projectsService
@inject TextAttributesService textAttributesService;
@inject NavigationManager navigationManager

<h3>Атрибуты текстов</h3>

@code {


    protected override async Task OnInitializedAsync()
    {
        if (_projectsService.CurrentProject == null)
        {
            navigationManager.NavigateTo("/projects");
        }
    }

}
