@page "/stats"

<h3>Статистика</h3>
<div class="row">
    <div class="col col-12">
        <button class="btn btn-outline-primary mr-1" 
                @onclick="@(async() => await exportXLSXTermTextMatrix())"
                >Экспорт term-text матрицы</button>
        <button class="btn btn-outline-primary" 
                @onclick="@(async() => await showTermTextMatrix())"
                >Показать term-text матрицу</button>
    </div>
</div>

<div class="text-center" hidden="@(!showSpinner)">
    <div class="spinner-border text-primary" role="status" 
         style="width: 6rem; height: 6rem; margin-top: 6rem;">
        <span class="sr-only">Делаем...</span>
    </div>
</div>
    


@code {
    private bool showSpinner = false;

    private async Task exportXLSXTermTextMatrix()
    {
        showSpinner = true;
        await Task.Delay(TimeSpan.FromSeconds(2));
        showSpinner = false;
    }

    private async Task showTermTextMatrix()
    {
        showSpinner = true;
        await Task.Delay(TimeSpan.FromSeconds(2));
        showSpinner = false;
    }
}
