table tr th:nth-child(2) {
    width: 90%;
}

.textRecordTitleTd:hover{
    cursor:pointer;
}

tr:hover {
    background-color: aliceblue;
}

.active-row {
    background-color: aliceblue;
}

.attrs-container {
    border: 1px solid #ced4da;
    overflow-y: auto;
    max-height: 16rem;
    min-height: 16rem;
}

.attrs-container table th:nth-child(1) {
    width: 50%;
}

textarea {
    max-height: 16rem;
    min-height: 16rem;
}

.icon-button:hover {
    cursor: pointer;
}

.not-clickable {
    pointer-events: none;
    cursor: not-allowed;
}
