.words-tab tr th:nth-child(3) {
    width: 90%;
}

.word-forms-tab tr th:nth-child(2) {
    width: 90%;
}

.wordTextTd:hover {
    cursor: pointer;
}

tr:hover {
    background-color: aliceblue;
}

.active-row {
    background-color: aliceblue;
}
